
@font-face {
    font-family: 'SegoeUINormal';
    src: url('/runPHP/statics/fonts/segoe-ui-72888-webfont.eot');
    src: url('/runPHP/statics/fonts/segoe-ui-72888-webfont.eot?#iefix') format('embedded-opentype'),
         url('/runPHP/statics/fonts/segoe-ui-72888-webfont.woff') format('woff'),
         url('/runPHP/statics/fonts/segoe-ui-72888-webfont.ttf') format('truetype'),
         url('/runPHP/statics/fonts/segoe-ui-72888-webfont.svg#SegoeUINormal') format('svg');
    font-weight: normal;
    font-style: normal;
}

.error {
    background: url('/runPHP/statics/error.png') no-repeat;
    color: #999;
    font-family: SegoeUINormal;
    font-weight: lighter;
    margin-left: 33%;
    margin-top: 5%;
    min-height: 326px;
    padding-left: 300px;
}
.error h1 {
    color: #666;
    margin: 0px;
    padding-top: 12%;
}
.error h2 {
    font-weight: lighter;
    margin: 0px;
    padding-top: 20px;
}