
@font-face {
    font-family: 'SegoeUINormal';
    src: url('/webapps/taosmi.es/static/fonts/segoe-ui-72888-webfont.eot');
    src: url('/webapps/taosmi.es/static/fonts/segoe-ui-72888-webfont.eot?#iefix') format('embedded-opentype'),
         url('/webapps/taosmi.es/static/fonts/segoe-ui-72888-webfont.woff') format('woff'),
         url('/webapps/taosmi.es/static/fonts/segoe-ui-72888-webfont.ttf') format('truetype'),
         url('/webapps/taosmi.es/static/fonts/segoe-ui-72888-webfont.svg#SegoeUINormal') format('svg');
    font-weight: normal;
}

.logo {
    padding-top: 250px;
    text-align: center;
}
.logo img {
    width: 74%;
}

.saying {
    display: none;
    font-family: SegoeUINormal, sans-serif;
    margin-top: 50px;
    text-align: center;
}
.saying p {
    margin: 0;
}
.saying p#quote {
    font-style: italic;
}